<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jacky.launcher">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity
            android:name="com.jacky.launcher.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jacky.launcher.app.AppUninstall"/>
        <activity
            android:name="com.jacky.launcher.detail.MediaDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback"/>
        <activity android:name="com.jacky.launcher.video.VideoActivity"/>

        <receiver android:name=".main.BootReceiver"
            android:enabled="true" android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.duokan.duokanplayer.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LETV_SCREENON"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>